@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");

:root {
  font-family: "Nunito", sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%; /* This makes 1rem equal to 10px (16px * 0.625 = 10px) */
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding and border are included in element's total width/height */
}
